.main_wrap{
	position: absolute;
	background-color: #F6F6F6;
	left: 0.0rem;
	right: 0.0rem;
	top: 0.0rem;
	bottom: 0.0rem;
}

.content{
	width: 18.0rem;
	height: 10.0rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -9.0rem;
	margin-top: -5.0rem;
}

.content img{
	width: 4.5rem;
	height: 4.5rem;
	margin: 0 auto;
	display: block;
}

.content h1{
	text-align: center;
	font: bold 0.9rem '宋体';
	margin-top: 2.0rem;
	color: red;
}