.main_wrap{
	position: absolute;
	background-color: #F6F6F6;
	left: 0.0rem;
	right: 0.0rem;
	top: 0.0rem;
	bottom: 0.0rem;
}

.header{
	position: relative;
	width: 100%;
	height: 2.5rem;
	font: normal 1.25rem/2.5rem '宋体';
	color: #FF0036;
	text-align: center;
	background-color: #FFFFFF;
}

form{
	position: absolute;
	left: 0.0rem;
	right: 0.0rem;
	top: 2.5rem;
	bottom: 0.0rem;
	
	overflow-y: auto;
	overflow-x: hidden;
}

.content{
	position: absolute;
	left: 50%;
	margin-left: -9.0rem;
	width: 18.0rem;
	margin-top: 1.0rem;
}

.common_input{
	height: 2.5rem;
	margin-left: 1.25rem;
}

.common_input label{
	font: bold 0.9rem/2.5rem '宋体';
	width: 4.5rem;
}

.common_input h2{
	display: inline-block;
}

.common_input input{
	width: 10.0rem;
	height: 1.5rem;
	border: 2px #FF0036 solid;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
	font: normal 0.9rem '宋体';
	text-indent: 0.9rem;
}

.submit{
	display: block;
	margin: 2.5rem auto 2.5rem;
	width: 10.0rem;
	height: 2.5rem;
	background-color: #FF0036;
	font: normal 0.9rem/2.5rem '宋体';
	color: #FFFFFF;
	border-radius: 0.5rem;
}