@keyframes loading{
	
	from{
		transform:scale(1,1);
	}

	to{
		transform:scale(1,0.5);
	}
}

.con{
	width: 15.0rem;
	height: 7.9rem;
	border: 2px solid #000;
	margin: 7.5rem auto 0;
}

.con div{
	width: 1.5rem;
	height: 5.0rem;
	float: left;
	background-color: gold;
	margin: 0.75rem;
	border-radius: 0.75rem;
	animation: loading 500ms ease infinite alternate;
}

.con div:nth-child(1){
	background-color: red;
}

.con div:nth-child(2){
	background-color: green;
	animation-delay: 100ms;
}

.con div:nth-child(3){
	background-color: pink;
	animation-delay: 200ms;
}

.con div:nth-child(4){
	background-color: lightgreen;
	animation-delay: 300ms;
}

.con div:nth-child(5){
	background-color: lightblue;
	animation-delay: 400ms;
}

.con p{
	text-align: center;
	font: normal 0.9rem '宋体';
	color: green;
}