<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChangeEmail</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script type="text/javascript" src="/static/js/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="/static/js/set_root.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/email.css">
	<script type="text/javascript">
		$(function(){
			$("#email").focus(function(event) {
				$(this).prop("placeholder","");
			}).blur(function(event) {
				$(this).prop("placeholder","仅支持QQ邮箱");
			});
		});
	</script>
</head>
<body>
	<div class="main_wrap">
		<div class="header">
			<h1>修改电子邮箱</h1>
		</div>
		<form method="post" novalidate>
			{{ form.csrf_token }}
			<div class="content">
				<div class="common_input">
					<label for="email"><h2>电子邮箱:</h2></label>
					{{ form.email(placeholder="仅支持QQ邮箱") }}
					{% for msg in form.email.errors %}
					<div class="error"><h3>{{ msg }}</h3></div>
					{% endfor %}
				</div>
				{{ form.submit(class="submit") }}
			</div>
		</form>
	</div>
</body>
</html>