<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Success</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script type="text/javascript" src="/static/js/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="/static/js/set_root.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/success.css">
</head>
<body>
	<div class="main_wrap">
		<div class="content">
			<img src="/static/img/success.png">
			<h1>预约已成功提交！</h1>
		</div>
	</div>
</body>
</html>